#alert {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: 100%;
}

.alert-box {
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin: 10px auto;
    width: 60%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: slide-down 0.5s ease forwards;
    position: relative;
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}