body {
    background-image:url('/Images/gallery/background/artwall.png');
}

.art-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    width: 90vw;
    padding: 5%;
}

.art-container img {
    width: 30%;
    padding: 1%;
}