
.explore {
    margin-left: 37%;
    width: 25%;
    margin-bottom: -3%;

    animation: floatUpDown 1s infinite alternate;

    animation-timing-function: steps(3);
}

@keyframes floatUpDown {
    0% {
        transform: translateY(-1%);
    }

    100% {
        transform: translateY(1%);
    }
}

div.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90vh;
    width: 75vw;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
    background-image: url('/Images/ZineButtons/buttonbackground.gif');
    background-size: cover;
    background-position: center;
}

.buttons button {
    max-width: 50%;
}

.buttons button img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.25s;
}

.buttons img:hover {
    transform: scale(1.3);
}

.buttons button img:last-child {
    margin-bottom: 0;
}

.BansheeSection {
    max-width: 100vh;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ffffff;
    position: relative;
    border-radius: 3vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 15cqh;
}

#bansheeHeader {
    margin-top: 5%;
    margin-left: 5%;
    width: 65%;
}

#advice {
    width: 15%;
    height: auto;
    margin-left: 75%;
    margin-top: -25%;
}

#door {
    width: 40%;
    margin-top: 10%;
    margin-bottom: -65%;
    margin-left: -3%;
}

#doorImage {
    width: 100%;
    transition: all 0.2s ease-in-out;
}

#twisty {
    position: relative;
    width: 29%;
    margin: auto;
    margin-top: -2%;
    margin-left: 68%;
    top: -15%;
}

#periodical {
    width: 40%;
    margin: auto;
    margin-top: -38%;
}

.SuperKidSection {
    max-width: 100vh;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ffffff;
    position: relative;
    border-radius: 3vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 15cqh;
}

.superWalk {
    margin: auto;
    margin-right: 5%;
    width: 20%;
}

.origin {
    width: 28%;
    margin: auto;
    margin-top: -25%;
}

.mp3s {
    width: 25%;
    margin-left: 12%;
    margin-top: -29%;

    animation: floatUpDown 1s infinite alternate;

    animation-timing-function: steps(2);
}

#book {
    display: flex;
    margin-top: -10%;
    width: 30%;
    align-items: center;
    text-align: center;
    justify-content: center;

}

#bookDots {
    display: none;
    position: absolute;
    margin: auto;
    text-align: center;
    justify-content: center;
    left: 13%;
    margin-top: 10%;
}

#bookDots::after {
    content: ".";
    /* Initial single dot */
    animation: dots 1.33s steps(4, end) infinite;
}

@keyframes dots {
    0% {
        content: ".";
    }

    33% {
        content: "..";
    }

    66% {
        content: "...";
    }

    100% {
        content: "";
    }
}

#comic.show-comic {
    opacity: 1; /* Fade in */
    transform: scale(1); /* Full size */
    z-index: 1;
}

#comic {
    justify-content: center;
    display: flex;
    height: 30%;
    max-width: 75vh;
    width: 55vw;
    background-color: #000fde6b;
    border-radius: 3vw;
    border-bottom-left-radius: 0%;
    border: solid 1px aliceblue;
    padding: 5%;
    position: absolute;
    left: 17%;
    margin-top: 33%;
    z-index: 0;
    transform: scale(0); /* Initial scale (invisible) */
    transition: transform 0.3s; /* Smooth scaling and fading */
    transform-origin: bottom left;
}

#close {
    width: fit-content;
    position: absolute;
    padding: 1% 1.8%;
    border-radius: 50%;
    background-color: aliceblue;
    cursor: pointer;
    right: 3%;
    top: 5%;
}

.navigation-buttons {
    gap: 25%;
    width: 50%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -25%;
}

.dreamwalkerSection {
    max-width: 100vh;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ffffff;
    position: relative;
    border-radius: 3vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 15cqh;
}

.dreamWalkerHeader {
    margin-top: 5%;
    margin-left: 5%;
    width: 80%;
}

.nimWalk {
    width: 25%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 15%;
}

#backToTopBtn {
    font-family: "AlterEgo";
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: rgba(0, 140, 255, 0.75);
    text-shadow: 1px 1px 0 #000000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 32px;
    cursor: pointer;
    transition: color 0.3s;
}

#backToTopBtn:hover {
    font-family: "AlterEgo";
    color: rgb(154, 137, 252);
}