.center {
    display: flex;
    justify-content: center;
}

button {
    margin: auto;
}

.container {
    display: flex;
    width: 80vw;
    margin: 0, auto;
    height: auto;
}

.left {
    display: flex;
    flex-direction: column;
    background-color: #4399CD;
    border-radius: 16px;
    width: fit-content;
    max-height: 65vh;
    max-width: 50vw;
    padding: 1.5%;
    margin: 1.5%;
    padding-top: 4vh;
    padding-bottom: 3%;
    margin: 0, auto;
}

#TSBP1 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#page {
    width: 25vw;
    max-height: 60vh;
}

#readMe {
    position: relative;
    transition: transform 0.25s ease, top 0.25s ease;
    width: 75%;
    max-height: 25vh;
    top: -9%;
}

#page:hover+#readMe {
    transform: translateY(4vw);
    /* Move the bottom image down */
}

.right {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

p:hover {
    transform: scale(1.25);
    cursor: pointer;
}

p {
    transition: transform 0.25s ease
}

.top-right {
    border-radius: 16px;
    background-color: #ffffff;
    padding: 1.5%;
    margin: 1.5%;
}

.bottom-right {
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    background-color: #8EE0FF;
    padding: 1.5%;
    margin: 1.5%;
}

#question {
    display: flex;
    justify-content: flex-start;
    animation: floatUpDown 1.5s ease-in-out infinite alternate;
}

#adviceCol {
    flex: 0 0 auto;
    width: 30%;
    max-height: 20vh;
}
.text {
    font-size: 1.5vw;
}

.text2 {
    font-size: 1.4vw;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3px);
    }
}

#periodical {
    margin: auto;
    width: 75%;
    max-width: 45vh;
    animation: floatUpDown2 1.5s ease-in-out infinite alternate;
}

#subButton {
    margin: auto;
    width: 55%;
}

@keyframes floatUpDown2 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(3px);
    }
}