.weekly-content {
    position: relative;
    display: flex;
    direction: column;
    justify-content: center;
    margin: 0 auto;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5%;
    border-radius: 5px;
    border-bottom: 1px solid #000;
}

.post img {
    margin: 0 auto;
    max-width: 75vw; 
    max-height: 85vh; 
}

#head {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    margin: 5% auto;
    padding: 5%;
    border-bottom: #000 1px solid;
}