body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: url(images/giphyclouds.gif)no-repeat left top, url(background/bg.png) no-repeat left top;
  background-size: cover, cover;
}

img {
  transition: transform 0.25s;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
}

button img {
  object-fit: contain;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

div.button {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: transform 0.25s;
}
button img:hover {
  transform: scale(1.1);
}
.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 90vw;
}
.home img {
  transition: transform 0.25s;
}

img.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

img.gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 20%;
}

button.zineImg {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 33vw;
}
div.text {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 45px;
  position: relative;
  background-image: url('ZineButtons/buttonbackground.gif');
  background-size: cover;
  background-position: center;
}

.buttons button{
  max-width: 50%;;
}
.buttons button img{
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.25s;
}

.buttons img:hover {
  transform: scale(1.3);
  /* Adjust the scaling factor as needed */
}

.buttons button img:last-child {
  margin-bottom: 0;
}

.BansheeSection {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: auto;
  background-image: url('BansheePage/bansheebackground.gif');
  background-size: 100% auto;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.BansheeZines {
  position: absolute;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.Img1 {
  position: relative;
  top: 41%;
  /* Adjust to position vertically */
  left: 22%;
  /* Adjust to position horizontally */
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  width: 25%;
  height: 25%;
  object-fit: contain;
  transition: transform 0.25s;
}

.Img1 img {
  width: 100%;
  height: 100%;
}

.Img1:hover {
  transform: translate(-50%, -50%) scale(1.6);
  /* Adjust the scaling factor as needed */
}

.Img2 {
  position: relative;
  top: 49%;
  /* Adjust to position vertically */
  left: 17%;
  /* Adjust to position horizontally */
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  width: 25%;
  height: 25%;
  object-fit: contain;
  transition: transform 0.25s;
}

.Img2 img {
  width: 100%;
  height: 100%;
}

.Img2:hover {
  transform: translate(-50%, -50%) scale(1.6);
  /* Adjust the scaling factor as needed */
}

.Img3 {
  position: relative;
  top: 38%;
  /* Adjust to position vertically */
  left: 12%;
  /* Adjust to position horizontally */
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  width: 25%;
  height: 25%;
  object-fit: contain;
  transition: transform 0.25s;
}

.Img3 img {
  width: 100%;
  height: 100%;
}

.Img3:hover {
  transform: translate(-50%, -50%) scale(1.6);
  /* Adjust the scaling factor as needed */
}

.Img4 {
  position: absolute;
  top: 43%;
  left: 47%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  width: 20%;
  height: 20%;
  object-fit: contain;
  transition: transform 0.25s;
  /* Transition for scaling effect */
}

.Img4 img {
  width: 100%;
  height: 100%;
}

.Img4:hover {
  transform: translate(-50%, -50%) scale(1.75);
  /* Adjust the scaling factor as needed */
}

.SuperKidSection {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: auto;
  background-image: url('Superkidpage/superkidbackground2.gif');
  background-size: 100% auto;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.SuperKidZines {
  position: absolute;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.Dreamwalker {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  width: 100%;
  /* Add this to ensure 100% width even if max-width is set */
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: rgba(50, 50, 50, 0.7); /* Default text color */
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 32px;
  cursor: pointer;
  transition: color 0.3s;
}

#backToTopBtn:hover {
  color: rgba(50, 50, 50, 1); /* Darker text color on hover */
}